.sign-in {
    display: flex;
    background-color: var(--color-background-gray);
  
    .sign-in_wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin: 6.4rem 12.5rem 12rem 16.5rem;
    }
  
    .side-logo {
      font-family: "Open Sans", sans-serif;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 2.45rem;
      color: var(--color-accent-blue);
      text-align: left;
    }
  
    .sign-in_header { 
      font-size: 5.6rem;
      letter-spacing: 0px;
      line-height: 8.4rem;
      text-align: left;
      color: var(--color-black);
      margin-top: 11rem;
      margin-bottom: 7rem;
    }
  
    .password_input {
      display: flex;
      align-items: center;
      justify-content:space-between;
      margin-top: 4.5rem;
      position: relative;
  
      .eye_icon {  
        position: absolute;
        top:0px;
        right:0px;
        transform: translate(0%, 100%);
        width: 1.83rem;
        height: 1.25rem;
        color: var(--color-gray-icon); 
      }
  
    }
  
    .email, 
    .password {
    
      width: 100%;
      font-weight: 400;
      line-height: 2rem;
      letter-spacing: 0.1px;
      text-align: left;
      color: var(--color-black);
      opacity: 50%;
      border:none;
      border-bottom: 1px solid #D3D8DD;
      background-color: var(--color-background-gray);
      padding: 0.7rem 0;
      
      
    }
  
    .password:focus,
    .password:active,
    .email:focus,
    .email:active {
      outline:none;
      border-bottom: 1px solid #098EDF;
    }
  
    .checkbox_wrapper {
      display: flex;
      margin-top:3.2rem;
      margin-bottom:4rem;
  
      .checkbox_icon{
        width: 1.6rem;
        height: 1.6rem;
        stroke: solid #D5D5D5;
        margin-right: 1.2rem;
      }
  
      span {
        color: var(--color-gray);
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.8rem;
        letter-spacing: 0.2px;
      }
  
    }
  
  
    .btn-sign_in {
        display: inline-block;
        width: 100%;
        border-radius: 1rem;
        border: none;
        background-color: var(--color-accent-blue);
        text-align: center;
        padding: 1.4rem 1.4rem;
        color: var(--color-white);
        text-decoration: none;
        font-weight: 600;
        font-size: 1.3rem;
        line-height: 2rem;
        letter-spacing: 0.01em;
    }
    
    .text-wrapper {
      margin: 12rem 0;
    }
  
    .text-sign_in {
  
      font-weight: 400;
      line-height: 2rem;
      letter-spacing: 0.1px;
      text-align: left;
  
      span {
        color: var(--color-accent-blue);
        margin-left: 0.6rem;
        font-weight: 600;
      }
  
    }
  }