.row-wrapper {
  
    .row {
      display: flex;
      align-items: center;
      max-height: 11rem;
      width: 100%;
      border-bottom: 1px solid var(--color-neutral-divider);

      .row_wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-self: center;
        margin: 2.4rem;
        margin-left: 0rem;
       
        .row-header {
          display: flex;
          width: 100%;
          justify-content: space-between;
          .row-h3_left, 
          .row-h3_right {
            font-size: 1.5rem;
            line-height: 2.3rem;
            margin-left: 2.4rem;            
          }
          .row-h3_left {
            color: var(--color-table-black);
          }
          .row-h3_right {
            color: var(--color-dark-blue);
            opacity: 50%;
          }
          
      }


      }
      .row-tags_wrapper {
        display: flex;
        margin-top: 1.6rem;
        .tag_wrapper {
          display: flex;
          align-items: center;
          margin-left: 3.6rem;
          .tag {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 8.4rem;
          height: 2.2rem;
          border-radius: 0.4rem; 
          color: var(--color-white);
          font-size: 1.1rem;
          letter-spacing: 0.2px;
          line-height: 1.6rem;
          }
        .yellow {
            background-color: var(--color-yellow);
          }
        .green {
            background-color: var(--color-green);
          }
        .red {
            background-color: var(--color-red);
          }
        
        
        }
        .tag-icons_wrapper {
          margin-left: 0.4rem
        }
        .tag_icon {
          width: 1.6rem;
          height: 1.6rem;
          margin-left: 0.8rem;
        }

      

    }
    }
}