.contacts-tab_wrapper {
  max-width: 73rem;
  background-color: var(--color-white);
  border-radius: 0.4rem;
  .header-row {
    display: flex;
    .header-row_item {
      display: flex;
      align-items: center;
      padding: 1.2rem 2.3rem;
      .icon {
        margin-right: 0.8rem;
      }
      .grey {
        opacity: 40%;
      }
      .text {
        font-family: "Poppins";
        line-height: 2rem;
        letter-spacing: 0.1px;
        white-space: nowrap;
        color: var(--color-dark-blue);
        opacity: 40%;
      }
      .text_blue {
        opacity: 100%;
      }
    }
    .bottom-border_blue {
      border-bottom: 0.2rem solid var(--color-dark-blue);
    }
    .bottom-border_grey {
      border-bottom: 0.1rem solid rgba(51, 77, 110, 0.1);
    }
  }
  .fill-text_wrapper {
    margin: 3.2rem;
    margin-bottom: 0rem;
    .fill-text {
      font-family: "Poppins";
      line-height: 2rem;
      font-weight: 400;
      letter-spacing: 0.1px;
      color: var(--color-dark-blue);
      opacity: 40%;
      padding-bottom: 7rem;
    }
  }
  .footer-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2.8rem 3.2rem 2.4rem;
    .footer-left {
      display: inline-flex;
      .icons-wrapper {
        display: inline-flex;
        .icon {
          margin-right: 1.6rem;
        }
      }
    }
    .footer-right {
      display: inline-flex;
      .btn-wrapper {
        margin-left: 3.2rem;
        cursor: pointer;
        display: inline-flex;
        justify-content: center;
        span {
          font-size: 1.3rem;
          font-weight: 600;
          line-height: 2rem;
          letter-spacing: 0.1px;
          color: var(--color-accent-blue);
        }
        .grey {
          color: var(--color-dark-blue);
          opacity: 40%;
        }
      }
    }
  }
}
