       .content {
        .profile {
            display: grid;
            grid-template-columns: 0.1514fr repeat(2, 0.423fr);
            grid-template-areas: "avatar informations password";
            background-color: var(--color-white);
            margin: 3.5rem 3.8rem 3.6rem 3.6rem;
            padding: 3.2rem 1.5rem 4.8rem;

            h3 {
                text-align: left; 
                color: var(--color-black);  
                margin-bottom:2.3rem; 
            }

            .avatar {
                display: flex;
                flex-direction: column;
                border-right: 1px solid var(--color-neutral-divider);
                
                .avatar-logo{
                    align-self: center;
                    position: relative;

                    .avatar-photo {
                        height: 10.4rem;
                        width: 10.4rem; 
                        object-fit: cover;
                        border-radius: 50%;
                    }

                    .edit-icon{
                        width: 2.4rem;
                        height: 2.4rem;
                        border-radius: 50%;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        transform: translate(-20%,-30%);
                        
    
                    }
                }

          
               
                
                p {
                    background-color: var(--color-dark-blue);
                    font-size: 1.1rem;
                    line-height: 1.7rem;
                    letter-spacing: 0.01em;
                    text-align: center;
                    border-radius: 0.4rem;
                    padding: 0.4rem 0.7rem;
                    margin: 2rem 4rem;
                    color: var(--color-white);
                }
            }

            .details{
                margin: 3.2rem 4rem 2.3rem;
                border-right: 1px solid var(--color-neutral-divider);

                .basic-informations{
                    margin-bottom: 5.5rem;
                }


                span {
                    font-size: 1.1rem;
                    font-weight: 500;
                    line-height: 1.6rem;
                    letter-spacing: 0.20000000298023224px;
                    text-align: left;
                    color: var(--color-textual-gray);
                }

                p {
                    font-weight: 400;
                    line-height: 2rem;
                    letter-spacing: 0.10000000149011612px;
                    text-align: left;
                    margin:0.5rem 0 2.3rem;
                }
            }
            .change-password{
                margin:3.2rem 4rem 0;
            
            .enter-previous,
            .new{
                margin-bottom: 3.7rem;
            }
            .confirm-new {
                margin-bottom: 4rem;
            }
            
            }
            .password{
                width: 100%;
                font-size: 1.3rem;
                font-weight: 400;
                line-height: 2rem;
                letter-spacing: 0.1px;
                text-align: left;
                color: var(--color-table-black);
                opacity: 50%;
                border:none;
                border-bottom: 1px solid #D3D8DD;
                padding-bottom: 0.6rem;
            }
            .btn-secondary__disabled {
                color: var(--color-gray-icon);
                border: 1px solid var(--color-gray-icon);
                background-color: var(--color-white);
                width: 100%;
                border-radius: .4rem;
            }
        }  
    }


