.container {
    display: grid;
  
    grid-template-columns: 25.6rem 1fr;
    grid-template-rows: 6rem minmax(100vh, auto);
  
    grid-template-areas: "sidebar searchbar" 
                         "sidebar content";
}