        .your-integrations-card {
            display: flex;
            flex-direction: column;
            max-width: 25rem;
            margin-left: 2.4rem;
            padding: 1.6rem;
            background-color: var (--color-white);
            box-shadow: 0px 2px 10px 0px #00000014;

            .your-integr-logo_wrapper {
                display: flex;
                justify-content: center;
                align-self: center;
                max-width: 12rem;
                height: 7.1rem;
                margin: 2.1rem auto;

                .your-integr-logo {
                    width: 100%;
                    min-height: 3rem;
                }
            }

            p {
               margin-top: .5rem;
               font-size: 1.2;
               font-weight: 400;
               line-height: 1.8rem;
               letter-spacing: 0.1px;
               color: var(--color-black);
               opacity: 50%;
            }


            .your-integr-card_footer {
                display: flex;
                justify-content: space-between;
                margin-top: 2.6rem; 


                  .your-integr-info_btn {
                    font-size: 1.3rem;
                    font-weight: 600;
                    line-height: 2rem;
                    letter-spacing: 0.1px;
                    color: var(--color-gray-icon);
                    opacity: 50%;
                }

                  .delete-icon {
                      width: 2rem;
                      height: 2rem;
                      visibility: hidden;
                  }
            }
        }
        .your-integrations-card:hover {
            cursor: pointer;
            box-shadow: 0px 0px 16px 0px #00000024;
            transition: 0.3s;
            
            .your-integr-info_btn {              
                color: var(--color-accent-blue);            
            }

            .delete-icon {
                visibility:visible;
                  }
        }