.create-task_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15rem auto;

  .create-task_box {
    width: 44rem;
    border-radius: 4px;
    box-shadow: 0px 8px 32px 0px #0000001f;

    .box-heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2.4rem 3.2rem;
      border-bottom: 0.1rem solid #ebeff2;
    }

    .box-status_wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 3.2rem;
      .tag {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 8.4rem;
        height: 2.2rem;
        border-radius: 0.4rem;
        color: var(--color-white);
        font-size: 1.1rem;
        letter-spacing: 0.2px;
        line-height: 1.6rem;
      }
      .yellow {
        background-color: var(--color-yellow);
        opacity: 0.37;
      }
      .green {
        background-color: var(--color-green);
      }
      .red {
        background-color: var(--color-red);
        opacity: 0.37;
      }
    }
    .box-forms_wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 3.2rem;
      margin-right: 3.2rem;

      .box-form_field {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 2.4rem;
        border-bottom: 0.1rem solid #ebeff2;

        label {
          font-size: 1.1rem;
          line-height: 1.6rem;
          letter-spacing: 0.2px;
          text-align: left;
          color: var(--color-textual-gray);
        }

        span {
          padding-bottom: 0.6rem;
          background-color: white;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 2rem;
          letter-spacing: 0.1px;
          color: var(--color-table-black);
        }

        .dolar::first-letter {
          opacity: 0.3;
        }

        .text-field_wrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 0.5rem;

          .schedule {
            width: 1.8rem;
            height: 1.8rem;
            opacity: 0.37;
            margin-bottom: 0.6rem;
          }

          .user_wrapper {
            display: flex;
            .user_avatar {
              width: 2rem;
              height: 2rem;
              border-radius: 50%;
              margin-right: 0.8rem;
            }
          }
        }
      }
    }

    .btn-wrapper_save {
      margin: 3.2rem;
    }
  }
}
