.content {
     display: flex;
     background-color: var(--color-background-gray);

     .integrations-container {
         width: 100%;
         margin: 3.5rem 3rem 19.5rem 0rem;
         background-color: var(--color-white);

         .integrations-header-wrapper {
             border-bottom: 1px solid var(--color-neutral-divider);
             padding: 3.2rem 2.4rem 2.4rem;
             margin-bottom: 2.4rem;
             
        }
         .integrations-header {
             display: flex;
             justify-content: space-between;
             h2 {
                 color: var(--color-neutral-black);
            }
             .sort-feature_wrapper {
                 padding-top: 0.7rem;
                 .sort-feature_category, .sort-feature_filter {
                     display: inline-block;
                     color: var(--color-neutral-gray);
                     cursor: pointer;
                     margin-left: 3.2rem;
                     p {
                         font-weight: normal;
                         font-size: 1.2rem;
                         line-height: 1.8rem;
                         letter-spacing: 0.1px;
                         span {
                             margin-left: 0.4rem;
                             color: var(--color-accent-blue);
                        }
                         img {
                             height: 0.4rem;
                             width: 0.7rem;
                             margin-left: 0.6rem;
                        }
                         img:hover {
                             fill: var(--color-accent-blue);
                        }
                    }
                }
            }
        }
         .searchbar {
             width:100%;
             margin-top: 2.1rem;
             background-color: var(--color-neutral-divider);
             .search {
                 display: flex;
                 width: 100%;
                 input {
                     color: var(--color-gray);
                     /* padding: 1.1rem 1.6rem 1.1rem 0rem; */
                     background-color: var(--color-neutral-divider);
                }
                 .search__button {
                     display: flex;
                     align-items: center;
                     justify-content: center;
                     border: none;
                     width: 1.45rem;
                     height: 1.45rem;
                     margin: 1rem 1.1rem 1rem 1.6rem;
                }
            }
        }
         h4 {
             margin-left: 2.4rem;
             opacity: 50%;
        }
         .your-integrations_wrapper {
             display: flex;
             flex-wrap: wrap;
             margin: 1.6rem auto 4rem auto;
        }
    }
}
