
.container {
  display: grid;

  grid-template-columns: 25.6rem 1fr;
  grid-template-rows: 6rem minmax(100vh, auto);

  grid-template-areas: "sidebar searchbar" 
                       "sidebar content";
}
  
  
.content {
  grid-area: content;
  background-color: var(--color-background-gray);

  .sort-feature_wrapper {
    .sort-feature_date,
    .sort-feature_type {
      display: inline-block;

      color: var(--color-neutral-gray);
      cursor: pointer;
      margin-left: 3.5rem;
      margin-top: 5.9rem;

      p {
        font-weight: normal;
        font-size: 1.2rem;
        line-height: 1.8rem;
        letter-spacing: 0.1px;

        span {
          margin-left: 0.4rem;
          color: var(--color-accent-blue);
        }

        img {
          height: 0.4rem;
          width: 0.7rem;
          margin-left: 0.6rem;
        }

        img:hover {
          fill: var(--color-accent-blue);
        }
      }
    }
  }
  .button-mg_right{
    margin-right: 3.5rem;

  }
}
  