.landing-page{
  display: grid;
  grid-template-columns: 0.444fr 0.556fr;
  grid-template-rows: minmax(100vh, auto);
  grid-template-areas: "signin hero";
}

.sign-in{
  display: flex;
  flex-direction: column;
  margin-left: 16.5rem;
  background-color: var(--color-background-gray);
}

.big-hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-white);
  background: linear-gradient(#34AFF9,#098EDF );

  .big-hero_wrapper{
    padding: 8rem 0;
  }

  .big-hero_header{
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: 0.1px;
    text-align: center;
  }

  .big-hero_text{
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0.1px;
    text-align: center;
  }


}





.container {
  display: grid;

  grid-template-columns: 25.6rem 1fr;
  grid-template-rows: 6rem minmax(100vh, auto);

  grid-template-areas: "sidebar searchbar" "sidebar content";
}


.content {
  grid-area: content;
  background-color: var(--color-background-gray);

  .header-section {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 2.4rem;

    .sort-feature_wrapper {
      justify-content: space-between;
      .sort-feature_date,
      .sort-feature_type {
        display: inline-block;

        color: var(--color-neutral-gray);
        cursor: pointer;
        margin-left: 3.5rem;
        margin-top: 5.9rem;

        p {
          font-weight: normal;
          font-size: 1.2rem;
          line-height: 1.8rem;
          letter-spacing: 0.1px;

          span {
            margin-left: 0.4rem;
            color: var(--color-accent-blue);
          }

          img {
            height: 0.4rem;
            width: 0.7rem;
            margin-left: 0.6rem;
          }

          img:hover {
            fill: var(--color-accent-blue);
          }
        }
      }
    }
  }
  .btn-wrapper {

    .btn-default {
      display: inline-block;
      height: 4.2rem;
      width: 16rem;
      border-radius: 0.4rem;
      border: none;
      background-color: var(--color-accent-blue);
      margin-right: 3.5rem;
      text-align: center;
      padding: 1.1rem 1.4rem;
      color: var(--color-white);
      text-decoration: none;
      font-weight: 600;
      font-size: 1.3rem;
      line-height: 2rem;
      letter-spacing: 0.01em;
    }

    .btn-default:hover {
      box-shadow: 0px 4px 10px rgba(16, 156, 241, 0.24);
    }
  }
}
