.landing-page{
  display: grid;
  grid-template-columns: 0.444fr 0.556fr;
  grid-template-rows: minmax(100vh, auto);
  grid-template-areas: "signin hero";
}

.sign-in{
  display: flex;
  background-color: var(--color-background-gray);

  .sign-in_wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 6.4rem 12.5rem 12rem 16.5rem;

  }

  .side-logo {
      font-family: "Open Sans", sans-serif;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 2.45rem;
      color: var(--color-accent-blue);
      text-align: left;
    }

  .sign-in_header{
    font-size: 5.6rem;
    letter-spacing: 0px;
    line-height: 8.4rem;
    text-align: left;
    color: var(--color-black);
    margin-top: 11rem;
    margin-bottom: 7rem;
  }

  .password_input{
    display: flex;
    align-items: center;
    justify-content:space-between;
  }

  .email, 
  .password{

    width: 100%;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0.1px;
    text-align: left;
    color: var(--color-black);
    opacity: 50%;
    border:none;
    border-bottom: 1px solid #D3D8DD;
    background-color: var(--color-background-gray);
  }

  .email:focus,
  .email:active{
    outline:none;
    border-bottom: #098EDF;
  }

  .checkbox_wrapper{
    display: flex;
    margin-top:3.2rem;
    margin-bottom:4rem;

    .checkbox_icon{
      width: 1.6rem;
      height: 1.6rem;
      stroke: solid #D5D5D5;
      margin-right: 1.2rem;
    }

    span{
      color: var(--color-gray);
      font-weight: 500;
      font-size: 1.2rem;
      line-height: 1.8rem;
      letter-spacing: 0.2px;
    }

  }


  .btn-sign_in{
    display: inline-block;
      width: 100%;
      border-radius: 1rem;
      border: none;
      background-color: var(--color-accent-blue);
      text-align: center;
      padding: 1.4rem 1.4rem;
      color: var(--color-white);
      text-decoration: none;
      font-weight: 600;
      font-size: 1.3rem;
      line-height: 2rem;
      letter-spacing: 0.01em;
  }
  
      .text-wrapper{
        margin: 12rem 0;
      }

      .text-sign_in{
    
      font-weight: 400;
      line-height: 2rem;
      letter-spacing: 0.1px;
      text-align: left;

      span{
        color: var(--color-accent-blue);
        margin-left: 0.6rem;
        font-weight: 600;
      }

      }
}

.big-hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-white);
  background: linear-gradient(#34AFF9,#098EDF );

  .big-hero_wrapper{
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 8rem 0;
    text-align: center;
  }

  .big-hero_header{
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: 0.1px;
    text-align: center;
    margin:6.4rem 0 1.2rem;
  }

  .big-hero_text{
    max-width: 62%;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0.1px;
    text-align: center; 
  }

  .big-hero_dashes{

    display: flex;
    margin: 8.6rem 0 12rem;

    .big-hero_dash{
      width: 3.2rem;
      height: 0.4rem;
      background-color:var(--color-white);
      border-radius: 0.6rem;
    }

    .big-hero_dash:nth-of-type(2){
      margin: 0 0.6rem;
    }

    .big-hero_dash:not(:first-of-type){
      opacity: 50%;
    }
  }


}





.container {
  display: grid;

  grid-template-columns: 25.6rem 1fr;
  grid-template-rows: 6rem minmax(100vh, auto);

  grid-template-areas: "sidebar searchbar" "sidebar content";
}


.content {
  grid-area: content;
  background-color: var(--color-background-gray);

  .header-section {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 2.4rem;

    .sort-feature_wrapper {
      justify-content: space-between;
      .sort-feature_date,
      .sort-feature_type {
        display: inline-block;

        color: var(--color-neutral-gray);
        cursor: pointer;
        margin-left: 3.5rem;
        margin-top: 5.9rem;

        p {
          font-weight: normal;
          font-size: 1.2rem;
          line-height: 1.8rem;
          letter-spacing: 0.1px;

          span {
            margin-left: 0.4rem;
            color: var(--color-accent-blue);
          }

          img {
            height: 0.4rem;
            width: 0.7rem;
            margin-left: 0.6rem;
          }

          img:hover {
            fill: var(--color-accent-blue);
          }
        }
      }
    }
  }
  .btn-wrapper {

    .btn-default {
      display: inline-block;
      height: 4.2rem;
      width: 16rem;
      border-radius: 0.4rem;
      border: none;
      background-color: var(--color-accent-blue);
      margin-right: 3.5rem;
      text-align: center;
      padding: 1.1rem 1.4rem;
      color: var(--color-white);
      text-decoration: none;
      font-weight: 600;
      font-size: 1.3rem;
      line-height: 2rem;
      letter-spacing: 0.01em;
    }

    .btn-default:hover {
      box-shadow: 0px 4px 10px rgba(16, 156, 241, 0.24);
    }
  }
}
