.row-wrapper {
  
    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-height: 7.2rem;
      border-bottom: 1px solid var(--color-neutral-divider);

      .row-user_wrapper {
        display: flex;
        align-self: center;
        margin: 2.4rem;
        .row-user_wrapper_logo {
          width: 2.4rem;
          height: 2.4rem;
          border-radius: 50%;
          margin-right: 1.2rem;
        }
        .row-user_name {
          align-self: center;

      }


      }

      .row-user_status_wrapper {        
        margin: 2.2rem 2.3rem;
        .status_select {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 12rem;
          height: 2.8rem;
          border-radius: .4rem;
          background-color: var(--color-yellow);
          .status_title {
            color:var(--color-white);
            font-weight: 500;
            font-size: 1.1rem;
            line-height: 1.6rem;
            letter-spacing: 0.2px;
          }
          .arrow-up-icon {
            width: 0.8rem;
            height: 0.5rem;
            color:var(--color-white);
            margin-left: 0.9rem;
          }
        }
        .status_select_open {
          position: absolute;     
          color:var(--color-table-gray);
          background-color: var(--color-white);
          font-weight: 500;
          font-size: 1.1rem;
          line-height: 1.6rem;
          letter-spacing: 0.2px;
          .status_select_dropdown {
            width: 12rem;
            height: 4rem;
            padding: 1.2rem 2.4rem;
            text-align: center;            
          }
          .status_select_dropdown:hover {
            color:var(--color-accent-blue); 
            cursor: pointer;          
          }
        }



      }
    }
}
